
/* ==========================================================================
   Online Drinking Water Order and Delivery Service
   ========================================================================== */
html,
body {
    background-color: #ffffff;
    font-size: 14px;
    color: #999999;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'open_sanslight';
    font-weight: 300;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/images.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
.navbar-header b{
    color: white;
    font-weight: bold;
    font-size: 30px;
   /* border: 1px dotted black; */
    border-radius: 5px;
    background-color: tomato;
    padding: 1px;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    font-family: 'roboto', sans-serif;
}
/* .text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
} */
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*
Section
*/
.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}


.heading {
    margin-bottom: 4rem;
}
.heading h1{
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'lorabold';
    margin-bottom: 20px;
    color: #3a3f4b;
    letter-spacing: 1px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 650px;
    background-image: url(../images/brand/header.jpg);

}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 4px;
    width: 130px;
    margin: auto;
    background: #00a5ff;
}

.separator2 {
    height: 1px;
    width: 50px;
    margin: auto;
    background: #999999;
    margin-bottom: 10px;
}

.wrapper{
    margin-top: 50px;
}

/*
Button
*/
#modalBtn {
    padding: 16px 60px;
    font-family: 'open_sanssemibold';
    border-radius: 50px;
    font-size: 22px;
    box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
}

.btn-primary{
    color: #fff;
    background-color: #00a5ff;
    border-color: transparent;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}
/* .btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #333;
} */

/*.btn-default:active, .btn-default:hover  {
    background: transparent;
}*/


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
 .padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}

/*for placeholder changes*/


/*For Menu Bar*/
.navbar-default {
    background-color:transparent;
    border-color: transparent;
}
.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    padding: 15px 0;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'open_sanssemibold';
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color:transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color:transparent;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}
.menu-bg{
    background:#00a5ff ;
}


/*For Home Section*/
.home{
    background: url(../images/can.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}
.home-content{
    margin-top: 240px;
    color :#fff;
    /*margin-bottom: 150px;*/
}
.home-content h1{
    margin-bottom: 45px;
    font-family: 'lorabold';
    font-size: 60px;
}
.home-content h4{
    margin-bottom: 75px;
    font-family: 'open_sansregular';
    font-size: 20px;
    color: #3a3f4b;
}
.home-content h4 {
    color: white;
    font-weight: bold;
}

/* Service Section */
.service-item{
    margin-bottom: 60px;
}

.service-item h5{
    text-transform: uppercase;
    color: #3a3f4b;
    font-family: 'lorabold';
}

.service-item i{
    background: #f5f6f8;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    color: #00a5ff;
    font-size: 36px;
    line-height: 80px;
    margin-bottom: 10px;
}

.text-center .fa:hover{
     background:#fff;
    color: #1BBD36;
}
.hi-icon-effect i.fa:hover {
   
    -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}







/*==================
  PRODUCT SECTION
====================*/


/*==================
  BANNER SECTION
====================*/

#aa-banner {
  display: inline;
  float: left;
  width: 100%;
}
#aa-banner .aa-banner-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-banner .aa-banner-area a {
  display: block;
}
#aa-banner .aa-banner-area a img {
  max-width: 100%;
}







/*==================
 SUPPORT SECTION
====================*/

#aa-support {
  background-color: #333;
  display: inline;
  float: left;
  width: 100%;
}
#aa-support .aa-support-area {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#aa-support .aa-support-area .aa-support-single {
  display: inline;
  text-align: center;
  padding: 0 10px;
  float: left;
  width: 100%;
}
#aa-support .aa-support-area .aa-support-single span {
  font-size: 30px;
}
#aa-support .aa-support-area .aa-support-single h4 {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}
#aa-support .aa-support-area .aa-support-single p {
  color: #ccc;
  font-size: 15px;
  margin-bottom: 0;
}





/*==================
 LATEST BLOG SECTION
====================*/

#aa-latest-blog {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#aa-latest-blog .aa-latest-blog-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-latest-blog .aa-latest-blog-area > h2 {
  margin-bottom: 20px;
  text-align: center;
}

.aa-latest-blog-single {
  display: block;
  width: 100%;
}
.aa-latest-blog-single .aa-blog-img {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.aa-latest-blog-single .aa-blog-img:hover img {
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.aa-latest-blog-single .aa-blog-img img {
  height: 100%;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption a,
.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption span {
  color: #fff;
  font-size: 12px;
  margin-right: 15px;
  font-weight: bold;
}
.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption a i,
.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption span i {
  margin-right: 5px;
}
.aa-latest-blog-single .aa-blog-info {
  display: inline;
  width: 100%;
}
.aa-latest-blog-single .aa-blog-info .aa-blog-title {
  color: #222;
  font-size: 18px;
  font-weight: bold;
}
.aa-latest-blog-single .aa-blog-info .aa-blog-title a {
  color: #222;
  font-size: 18px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.aa-latest-blog-single .aa-blog-info p {
  font-size: 15px;
}
.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:hover, .aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:focus {
  color: #222;
}
.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:hover span, .aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:focus span {
  opacity: 1;
  transform: translateX(10%);
}
.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-200%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*==================
 CLIENT BRAND SECTION
====================*/

#aa-client-brand {
  background-color: #333;
  display: inline;
  float: left;
  padding: 40px 0;
  width: 100%;
}
#aa-client-brand .aa-client-brand-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider {
  margin-left: -35px;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li {
  background: #fff none repeat scroll 0 0;
  float: left;
  margin-left: 35px;
  text-align: center;
  width: 17%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li a {
  display: block;
  padding: 20px 0;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li a img {
  display: inline-block;
  max-width: 100%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev,
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
  top: 44%;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev {
  left: -15px;
}
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
  right: -45px;
}
#aa-client-brand .aa-client-brand-area .slick-dots {
  display: none!important;
}

/* #aa-subscribe {
  display: inline;
  float: left;
  width: 100%;
}
#aa-subscribe .aa-subscribe-area {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
  text-align: center;
}
#aa-subscribe .aa-subscribe-area h3 {
  color: #222;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  text-transform: uppercase;
}
#aa-subscribe .aa-subscribe-area p {
  color: #333;
  font-size: 15px;
  letter-spacing: 0.5px;
}
#aa-subscribe .aa-subscribe-area .aa-subscribe-form {
  margin: 20px auto 0;
  position: relative;
  width: 450px;
} */
/* #aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="email"] {
  border: 1px solid #ccc;
  color: #555;
  height: 40px;
  padding: 5px 125px 5px 10px;
  width: 100%;
} */
/* #aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="submit"] {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 120px;
} */












/*==================
 FOOTER SECTION
====================*/

#aa-footer {
  background-color: #222;
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-top {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
  min-height: 100px;
}
#aa-footer .aa-footer-top .aa-footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget {
  display: block;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget h3 {
  color: #fff;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:hover, #aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:focus {
  color: #fff;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p {
  margin-bottom: 5px;
  color: #888;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p span {
  margin-right: 5px;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a {
  border: 1px solid #888;
  color: #888;
  display: inline-block;
  font-size: 18px;
  margin-right: 8px;
  padding: 2px 0;
  text-align: center;
  width: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a:hover {
  color: #fff;
  border-color: #fff;
}
#aa-footer .aa-footer-bottom {
  border-top: 1px solid #333;
  display: inline;
  float: left;
  padding: 15px 0;
  width: 100%;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p {
  color: #888;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment {
  float: right;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span {
  color: #888;
  margin-left: 8px;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span:hover {
  color: #fff;
}

/*==================
 RESPONSIVE DESIGN
====================*/
