h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px dotted black;
    border-radius: 5px;
    padding: 3px;
    background-color: #0080ff;
    color: #fff;
}
    